<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangyuying.analysis.dao.mapper.IssueMapper">

    <resultMap id="resultMap"
               type="cn.zhangyuying.analysis.issue.bean.Issue">
        <id property="id" column="id"/>
        <result property="metadata" column="metadata" javaType="java.util.HashMap"
                typeHandler="cn.zhangyuying.analysis.dao.handler.TextTypeHandler"/>
    </resultMap>

    <select id="getAllIssue" resultMap="resultMap">
        SELECT
        <include refid="baseField"/>
        FROM  <include refid="table_issue"/>
        <if test="limit!=null and limit !='' ">
            limit #{limit} offset #{offset}
        </if>
    </select>

    <select id="selectIssueById" resultMap="resultMap">
        SELECT
        <include refid="baseField"/>
        FROM  <include refid="table_issue"/>
        WHERE id=#{id}
    </select>

    <insert id="insertIssue"
            parameterType="cn.zhangyuying.analysis.issue.bean.Issue">
        INSERT INTO
         <include refid="table_issue"/>
        ( <include refid="baseField"/> )
        VALUES
            (#{issue.id},
             #{issue.metadata,javaType=java.util.HashMap,typeHandler=cn.zhangyuying.analysis.dao.handler.TextTypeHandler } )
    </insert>
    <insert id="insertIssues">
        INSERT INTO
        <include refid="table_issue"/>
        ( <include refid="baseField"/> )
        VALUES
        <foreach collection="issues" item="issue" index="index" separator=",">
            (#{issue.id},
            #{issue.metadata,javaType=java.util.HashMap,typeHandler=cn.zhangyuying.analysis.dao.handler.TextTypeHandler } )
        </foreach>
    </insert>

    <update id="updateIssue">
        UPDATE  <include refid="table_issue"/>
        SET
            metadata =#{issue.metadata,javaType=java.util.HashMap,typeHandler=cn.zhangyuying.analysis.dao.handler.TextTypeHandler },
            updatetime= #{corp.updateTime}
        WHERE id = #{issue.id}
    </update>

    <update id="deleteIssue">
        DELETE FROM  <include refid="table_issue"/>
        WHERE id = #{issue.id}
    </update>


    <sql id="table_issue">
        db_analysis.issue
    </sql>
    <sql id="baseField">
        id, metadata, updatetime
    </sql>

    <!--    <select id="selectCorp" parameterType="java.lang.String"-->
<!--            resultMap="ResultMap">-->
<!--        SELECT-->
<!--        <include refid="Base_Column_List"/>-->
<!--        FROM db_uim.t_aty_corp-->
<!--        WHERE c_id = #{id} AND n_del != 1-->
<!--    </select>-->

<!--    <update id="updateCorp">-->
<!--        UPDATE db_uim.t_aty_corp-->
<!--        SET-->
<!--            c_id          = #{corp.id}, c_name =#{corp.name},-->
<!--            c_pid =#{corp.pcorpId}, n_level =#{corp.level},-->
<!--            c_alias =#{corp.alias}, n_valid =#{corp.nValid},-->
<!--            n_order =#{corp.order},-->
<!--            c_dm= #{corp.cDm},-->
<!--            c_gbm=#{corp.cGbm},-->
<!--            c_guid=#{corp.cGuid},-->
<!--            c_dz=#{corp.cDz},-->
<!--            c_yb=#{corp.cYb},-->
<!--            j_ext         =-->
<!--            #{corp.ext,javaType=java.util.HashMap,typeHandler=com.thunisoft.tap.uimextmove.dao.handler.TextTypeHandler},-->
<!--            dt_updatetime = #{corp.updateTime}-->
<!--        WHERE c_id = #{corp.id}-->
<!--    </update>-->



<!--    <update id="updateCorps">-->
<!--        <foreach collection="corps" separator=";" item="corp">-->

<!--            update db_uim.t_aty_corp-->
<!--            <set>-->
<!--                c_id =-->
<!--                #{corp.id},c_name=#{corp.name},c_pid=#{corp.pcorpId},n_level=#{corp.level},c_alias=#{corp.alias},n_valid=#{corp.nValid},n_order=#{corp.order},-->
<!--                c_dm= #{corp.cDm},-->
<!--                c_gbm=#{corp.cGbm},-->
<!--                c_guid=#{corp.cGuid},-->
<!--                c_dz=#{corp.cDz},-->
<!--                c_yb=#{corp.cYb},-->
<!--                j_ext =-->
<!--                #{corp.ext,javaType=java.util.HashMap,typeHandler=com.thunisoft.tap.uimextmove.dao.handler.TextTypeHandler},dt_updatetime-->
<!--                = #{corp.updateTime}-->
<!--            </set>-->
<!--            where c_id = #{corp.id}-->

<!--        </foreach>-->
<!--    </update>-->


</mapper>